* {
  /*border: 2px;
  border-style: solid;
  border-color: red;*/
}

.nav, .headerlogo, .headerlinks, ul {
  /*border: 2px;
  border-style: solid;
  border-color: red;*/
}

.heromain {
  border: 1px;
  border-style: solid;
  border-color: red;
}
.hero, .herosub, .herobtn, .heroimg {
  border: 1px;
  border-style: solid;
  border-color: greenyellow;
}



/* ABOVE HERE IS FOR BORDERS OF ITEMS TO BUILD FLEX BOX BETTER*/

/*Global or shared Items*/ 
* {
  font-family: 'Roboto', sans-serif;
}



/*Header*/
header {
  background-color: #1F2937;
  color: #F9FAF8;
  min-height: 350px;
}

/*nav*/
.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.headerlogo {
  margin-left: 10%;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
  
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #E5E7EB;
}
.headerlinks {
  min-width: 30%;
  margin-right: 10%;
}

/*Hero*/



/*Main Content*/ 





/*Footer*/